<div>
<a class="btn" href='/candidates/create'>NEW Candidate</a>
</div> 
<table>
  <tr>
    <th><h2>First Name</h2></th>
    <th><h2>Last Name</h2></th>
    <th colspan="3"><h2>Tools</h2></th>
  </tr>
  {{#each data}}
  <tr>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td><a href='/candidates/details/{{_id}}'>details</i></a></td>
    <td><a href='/candidates/update/{{_id}}'>update</a></td>
    <td><a href='/candidates/delete/{{_id}}'>delete</a></td>
  </tr>
  {{/each}}
</table>