<div>
<a class="btn"href='/jobs/create'>Create JOB</a>
</div> 
<br>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3">Tools</th
  </tr>
  {{#each data}}
  <tr>
    <td>{{title}}{{firsName}}</td>
    <td>{{description}}{{firsName}}</td>
    <td><a href='/jobs/details/{{_id}}'>add candidate</a></td>
    <td><a href='/jobs/update/{{_id}}'>edit</a></td>
    <td><a href='/jobs/delete/{{_id}}'>delete</a></td>
   </tr>
  {{/each}}
</table>